@charset "UTF-8";

*{
   font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
   margin: 0;
   color: azure;
   text-align: center;
   transition: ease-in-out transform 0.2s;
}

html, body{
   margin: 0;
   padding: 0;
   height: 100%;
}

.home_default_container{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-direction: column;
   height: 70vh;
   width: 70vw;
}

.questions_default_container{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-direction: column;
   height: 70vh;
   width: 90vw;
}

.title_default{
   font-size: 35px;
   text-align: center;
   font-style: italic;
   letter-spacing: 1px;
   width: 23%;
   margin: 0px;
}

input:focus{
   outline: none;
}

select:focus{
   outline: none;
}


/* tooltip */


.tooltip_btt{
   background-color: transparent;
   border: none;
   transition: ease-in-out transform 0.2s;
}
.tooltip_btt:hover{
   transform: scale(1.08);
}

.tooltip {
   position: relative;
   display: inline-block;
   cursor: pointer;
}

.tooltip::after {
   content: attr(data-tooltip);
   position: absolute;
   bottom: 120%; /* acima do elemento */
   left: 50%;
   transform: translateX(-50%);
   background: #333;
   color: #fff;
   padding: 6px 15px;
   border-radius: 6px;
   font-size: 13px;
   white-space: nowrap;
   opacity: 0;
   pointer-events: none;
   transition: opacity 0.3s ease;
}

.tooltip:hover::after {
   opacity: 1;
}