@charset "UTF-8";

:root{
   --color1: #0e1116;
   --color2: #b8e3e9;
   --color2b: #a0d1d8;
   --color3: #407899;
   --color4: #95c623;
   --color5: #ba2d0b;
}

.textarea_container{
   height: 70vh;
   width: 40vw;
   margin-top: 15px;

   & p{
      font-style: italic;
   }
}

.textarea{
   height: 70%;
   width: 82%;
   min-height: 70%;
   max-height: 70%;
   max-width: 82%;
   min-width: 82%;
   background-color: var(--color1);
   border-radius: 10px;
   border: 2px solid white;
   padding: 30px;
}
.textarea::placeholder{
   font-size: 18px;
   color: lightgray;
}