@charset "UTF-8";

.exit_container{
   display: flex;
   justify-content: center;
   height: 5vh;
   width: 75%;
   margin-top: 50px;
}

.exit{
   height: 30px;
   width: 30px;
   cursor: pointer;
   transition: ease-in-out transform 0.2s;
}