@charset "UTF-8";

:root{
   --color1: #0e1116;
   --color2: #b8e3e9;
   --color2b: #a0d1d8;
   --color3: #407899;
   --color4: #95c623;
   --color5: #ba2d0b;
}


/*modal*/

.displayAppear{
   display: block;
}

/* Estilização do Modal */
.modal {
   display: block; /* Modal começa invisível */
   position: fixed;
   z-index: 1000;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro transparente */
}

/* Conteúdo do Modal */
.modal_content {
   position: relative;
   margin: 15% auto;
   padding: 30px 20px;
   width: 90%;
   max-width: 500px;
   background-color: #fff;
   border-radius: 10px;
   text-align: center;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   animation: fadeIn 0.3s ease-in-out;
}

/* Botão Fechar (X) */
.close_button {
   position: absolute;
   top: 10px;
   right: 20px;
   font-size: 24px;
   font-weight: bold;
   color: #333;
   cursor: pointer;
   transition: color 0.2s;
}

.close_button:hover {
   color: #e74c3c;
}

.h2_modal{
   color: black;
   font-size: 30px;
   margin-bottom: 10px;
}

.p_modal{
   color: black;
   font-weight: 450;
   font-size: 20px;
   white-space: pre-line; /* for understand "\n" */
}

/* Botão de Ação */
.modal_button {
   background-color: #3498db;
   color: #fff;
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   font-size: 16px;
   margin-top: 20px;
   transition: background-color 0.3s;
   margin-right: 10px;
}

.modal_button:hover {
   background-color: #2980b9;
}

.close_modal_button {
   background-color: #db3434;
   color: #fff;
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   font-size: 16px;
   margin-top: 20px;
   transition: background-color 0.3s;
}

.close_modal_button:hover {
   background-color: #b92929;
}

/* Animação de Aparecer */
@keyframes fadeIn {
   from {
      opacity: 0;
      transform: scale(0.9);
   }
   to {
      opacity: 1;
      transform: scale(1);
   }
}


/* condições pré-definidas - display */
.hidden {
   display: none;
}


/* Cores pré-definidas - title color */
.primary {
   color: #000;
}

.success {
   color: #4CAF50;
}

.error {
   color: #F44336;
}