@charset "UTF-8";

:root{
   --color1: #0e1116;
   --color2: #b8e3e9;
   --color2b: #a0d1d8;
   --color3: #407899;
   --color4: #95c623;
   --color5: #ba2d0b;
}


.progress_container{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   height: 5vh;
   width: 90%;
   margin-bottom: 5%;
}

.questionsNumber{
   height: 10px;
   width: 25%;
   background-color: white;
   border-radius: 10px;
}

.difficulty{
   height: 10px;
   width: 50%;
   background-color: white;
   border-radius: 10px;
}

.questionsType{
   height: 10px;
   width: 75%;
   background-color: white;
   border-radius: 10px;
}

.language{
   height: 10px;
   width: 100%;
   background-color: white;
   border-radius: 10px;
}

.progress_container_off{
   display: none;
}